
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="titulo"> Recuperar contraseña </ion-title>
  </div>
  <form>
   <div class="nombre"><ion-label id="nombre1">{{ nombre }}</ion-label></div>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input class="input" name="contrasenad" id="contrasenad" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repita Nueva Contraseña</ion-label>
      <ion-input class="input" name="confirmarc" id="confirmarc" required></ion-input>
    </ion-item>
  </form>

  <ion-button fill="outline" shape="round" expand="block" (click)="confirmar()">Cambiar</ion-button>
  <ion-button fill="outline" shape="round" expand="block" (click)="backtohome()">Volver a home</ion-button>

</ion-content>
