.input {
    font-size: 300;
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitulo {
        color: gray;
        font-size: 0.9rem;
    }
    titulo {
        font-size: 2rem;
    }
}

.registrop {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    width: 80%;
    right: 0;

    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
}
