<div id="container">
  <div class="container">
    <ion-img src="assets/icon/Launching.png"></ion-img>
    <ion-title class="titulo"> Registro de asistencia. </ion-title>
    <p class="subTitulo"> Created by: Juan Medina y José Vergara</p>
  </div>

  <ion-button class="boton" fill="outline" shape="round" expand="block" (click)="alogin()">INICIAR SESION</ion-button>
        
  <ion-button class="boton" fill="outline" shape="round" expand="block" (click)="registro()">REGISTRO</ion-button>

  <ion-button class="boton" fill="outline" shape="round" expand="block" (click)="recuperarpassword()">RECUPERAR CONTRASEÑA</ion-button>
</div>
